In [24]:
# imports 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns 
import math as math
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [25]:
diabetes_data = pd.read_csv('diabetes.csv')

In [26]:
diabetes_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [27]:
# check if any column has null or 0
diabetes_data.shape

(768, 9)

In [28]:
diabetes_data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [29]:
columnsShouldNotHaveZeros = ['Glucose', 'BloodPressure', 'SkinThickness', 'BMI', 'Age']

# update zero with mean 
for column in columnsShouldNotHaveZeros:
    diabetes_data[column].replace(0, np.nan)
    mean = diabetes_data[column].mean(skipna= True)
    diabetes_data[column].fillna(mean)

In [30]:
diabetes_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [40]:
x = diabetes_data.iloc[:, 0:8]
y = diabetes_data.iloc[:, 8 ]

In [41]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [42]:
scaler = StandardScaler()

In [45]:
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size= 0.20, random_state= 0 )

In [46]:
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [49]:
# find the n_neighbor 
# we should prefer to pick the n as a odd number as why?

math.sqrt(len(x_test))

12.409673645990857

In [53]:
classifier = KNeighborsClassifier(n_neighbors= 11, p = 2, metric= 'euclidean')

# fit the model
classifier.fit(x_train, y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=11)

In [56]:
# predict the y 
predicted_y = classifier.predict(x_test)

In [57]:
# evaluate the result 1. confustion matrix, 2. f_score 3. accuracy_score 

confusion_matrix(y_test, predicted_y)

array([[92, 15],
       [20, 27]])

In [58]:
f1_score(y_test, predicted_y)

0.6067415730337079

In [59]:
accuracy_score(y_test, predicted_y)

0.7727272727272727