# Statistics Introduction Applied to Data Science
## Bonus : One - Chi Square

In [1]:
import pandas as pd

In [2]:
data = [['Click', 14, 9, 21], ['No-click', 986, 991, 979]]
df_data = pd.DataFrame(data, columns = ['Test', 'Thumbnail 1', 'Thumbnail 2', 'Thumbnail 3'])

df_data.set_index('Test', inplace = True)
df_data

          Thumbnail 1  Thumbnail 2  Thumbnail 3
Test
Click              14            9           21
No-click          986          991          979

In [3]:
from scipy import stats

In [4]:
stats.chi2_contingency(df_data, correction = True)

(5.028293763070488,
 0.0809319272850542,
 2,
 array([[ 14.66666667,  14.66666667,  14.66666667],
        [985.33333333, 985.33333333, 985.33333333]]))

In [5]:
# End