# Statistics Introduction Applied to Data Science
## Lab : One
### Data types in Python

In [1]:
# This is a comment in python
# print message on the screen
print('Hello world, from Python !!')

Hello world, from Python !!

In [5]:
# Python includes predefined libraries with functions that facilitate our job.
# What python version we use?
# We use sys library to see python version.
import sys
print(sys.version)

3.8.8 (default, Apr 13 2021, 12:59:45)
[Clang 10.0.0 ]

In [6]:
# We can check datatype with command type.
type('Hola Mundo, desde Python !!')

str

### Practice One: Print your name on the screen.

In [7]:
# Type your code here
print("Hello World!")

Hello World!

### Others datatypes

In [8]:
print(11)
print(type(11))

11
<class 'int'>

In [9]:
print(3.1416)
print(type(3.1416))

3.1416
<class 'float'>

In [10]:
# Merge string and number in one output
pi = 3.1416
print("The pi number is:", pi)

The pi number is: 3.1416

### Practice Two: Print "My age is: " and next, outside quotation mark print your age number.

In [11]:
# Type your code here
print('My age is', 5)

My age is 5

### Typecasting

In [12]:
# Datatype integer
type(225)

int

In [13]:
# Datatype float
my_float = float(225)
my_float

225.0

In [14]:
# Check datatype float
type(my_float)

float

In [15]:
# From float to integer
my_integer = int(225.75)
my_integer

225

In [16]:
type(my_integer)

int

In [17]:
# From string to number
my_string = '225'
int(my_string)

225

In [18]:
float(my_string)

225.0

In [19]:
float('cat')

ValueError: could not convert string to float: 'cat'

### From number to string

In [20]:
str(225)

'225'

In [21]:
str(3.1416)

'3.1416'

### Boolean datatype

In [22]:
type(True)

bool

In [23]:
int(True)

1

In [24]:
int(False)

0

### Practice Three: What kind of data result if divide 15 / 3?

In [25]:
# Type your code here
print(type(15/3))

<class 'float'>

### Practice Four: What kind of data result if operate 15 % 3?

In [26]:
# Type your code here

print(type(15%3))

<class 'int'>